<!DOCTYPE html>
<html>
<head>
    <title>Bulma</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/profile.css">
    <link rel="stylesheet" type="text/css" href="/css/bulma.css">
</head>
<body>

<div class="columns is-centered menubar">
    <div class="column is-7-desktop">

        <div class="columns">

            <div class="column is-4-desktop left">
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="home"><img src="\assets\images\system\logo.jpg"></i></a>
            </div>


            <div class="column is-5-desktop">
                <div class="field">
                    <p class="control has-icons-left is-centered">
                        <input class="input column" type="text" placeholder="Search">
                        <span class="icon is-small is-left">
            <i class="fa fa-search"></i>
            </span>
                    </p>
                </div>
            </div>


            <div class="column is-1-desktop is-offset-2-desktop is-offset-5-mobile right">
                <a href="#"><p class="fa fa-heart-o" aria-hidden="true"></p></a>
                <a href="profile"><p class="fa fa-user" aria-hidden="true"></p></a>
            </div>

        </div>
    </div>
</div>

<div class="columns is-centered profile">
    <div class="column is-7-desktop is-12-mobile viewProfile">

        <div class="columns profileInfo">
            <div class="column column is-3-desktop is-offset-2-desktop is-offset-3-mobile">
                <img src="assets\images\profile\pro pic.jpg">
            </div>
            <div class="column is-12-mobile">
                <table class="table">
                <tr>
                <td>Shuvro.Social</td>
                <td><a href="#">EditProfile</a></td>
                <td><a href="#"><i style="font-size: 32px;" class="fa fa-wrench" aria-hidden="true"></i></a></td>
                </tr>

                <tr>
                <td>56 posts</td>
                <td><a href="#">212 followers</a></td>
                <td><a href="#">123 following</a></td>
                </tr>
                <tr>
                <td colspan="3">S H U V R O I am not interested about everyone</td>
                </tr>
                </table>
            </div>
        </div>

    </div>
</div>


<div class="columns is-desktop is-centered sharedPhotos">
    <div class="column is-7-desktop is-12-mobile">


        <div class="columns is-multiline is-mobile">
            <div class="column is-6-mobile">
                <img src="\assets\images\post\post2.jpg">
            </div>
            <div class="column is-6-mobile">
                <img src="\assets\images\post\post3.jpg">
            </div>
            <div class="column is-6-mobile">
                <img src="\assets\images\post\post2.jpg">
            </div>
            <div class="column is-6-mobile">
                <img src="\assets\images\post\post3.jpg">
            </div>
        </div>

        <div class="columns is-multiline is-mobile">
            <div class="column is-6-mobile">
                <img src="\assets\images\post\post2.jpg">
            </div>
            <div class="column is-6-mobile">
                <img src="\assets\images\post\post3.jpg">
            </div>
            <div class="column is-6-mobile">
                <img src="\assets\images\post\post2.jpg">
            </div>
            <div class="column is-6-mobile">
                <img src="\assets\images\post\post3.jpg">
            </div>
        </div>

        <div class="columns is-multiline is-mobile">
            <div class="column is-6-mobile">
                <img src="\assets\images\post\post2.jpg">
            </div>
            <div class="column is-6-mobile">
                <img src="\assets\images\post\post3.jpg">
            </div>
            <div class="column is-6-mobile">
                <img src="\assets\images\post\post2.jpg">
            </div>
            <div class="column is-6-mobile">
                <img src="\assets\images\post\post3.jpg">
            </div>
        </div>

    </div>
</div>


<div class="columns is-centered loadMore">
    <div class="column is-7-desktop is-offset-6-desktop is-12-mobile is-offset-4-mobile">
        <a class="button is-info">Load More</a>
    </div>
</div>

</body>
</html>