.menubar{
    padding-top: 20px;
}

.menubar .fa{
    font-size: 35px;
    color: black;
}

.menubar .fa:hover{
    color: red;
    transition: all 0.3s;
}

.profile{
    background-color: #fafafa;
}

.profileInfo img{
    height: 150px;
    border-radius: 50%;
}

.sharedPhotos{
    background-color: #fafafa;
}

