<!DOCTYPE html>
<html>
<head>
    <title>Instagram</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/home.css">
    <link rel="stylesheet" type="text/css" href="/css/bulma.css">

</head>
<body>



<!--menubar-->
<div class="columns is-centered menubar">
 <div class="column is-7-desktop">

        <div class="columns">

        <div class="column is-4-desktop left">
           <a href="#"><i class="fa fa-instagram"></i></a>
            <a href="home"><img src="\assets\images\system\logo.jpg"></i></a>
        </div>


        <div class="column is-5-desktop">
            <div class="field">
            <p class="control has-icons-left is-centered">
            <input class="input column" type="text" placeholder="Search">
            <span class="icon is-small is-left">
            <i class="fa fa-search"></i>
            </span>
            </p>
            </div>
        </div>


            <div class="column is-1-desktop is-offset-2-desktop is-offset-5-mobile right">
                <a href="#"><p class="fa fa-heart-o" aria-hidden="true"></p></a>
                <a href="profile"><p class="fa fa-user" aria-hidden="true"></p></a>
            </div>

        </div>
    </div>
</div>


<!--posts-->
<div class="columns is-centered post">
    <div class="column is-12-desktop post1">
        <div class="column is-4-desktop is-offset-4-desktop">

            <div class="columns">
                <div class="column is-12-desktop">
                  <img class="proimage" src="/assets\images\profile\pro pic.jpg">
                    <a href="#">shuvro.2017</a>
                    </br>
                    Dhaka,Bangladesh
                    <br>
                    <img class="mainimage" src="\assets\images\post\post1.jpg">
                    </br>

                    <a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a>

                    </br>
                        16 Likes
                    </br>
                    50 Minutes ago
                    </br>

                    <input class="input is-primary" type="text" placeholder="Leave a comment">
                </div>
            </div>

        </div>

    </div>
</div>


<div class="columns is-centered post">
    <div class="column is-12-desktop post1">
        <div class="column is-4-desktop is-offset-4-desktop">

            <div class="columns">
                <div class="column is-12-desktop">
                    <img class="proimage" src="\assets\images\profile\pro pic.jpg">
                    <a href="#">shuvro.2017</a>
                    </br>
                    Dhaka,Bangladesh
                    <br>
                    <img class="mainimage" src="\assets\images\post\post1.jpg">
                    </br>

                    <a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a>

                    </br>
                    16 Likes
                    </br>
                    50 Minutes ago
                    </br>

                    <input class="input is-primary" type="text" placeholder="Leave a comment">
                </div>
            </div>

        </div>

    </div>
</div>


<div class="columns is-centered post">
    <div class="column is-12-desktop post1">
        <div class="column is-4-desktop is-offset-4-desktop">

            <div class="columns">
                <div class="column is-12-desktop">
                    <img class="proimage" src="\assets\images\profile\pro pic.jpg">
                    <a href="#">shuvro.2017</a>
                    </br>
                    Dhaka,Bangladesh
                    <br>
                    <img class="mainimage" src="\assets\images\post\post1.jpg">
                    </br>

                    <a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a>

                    </br>
                    16 Likes
                    </br>
                    50 Minutes ago
                    </br>

                    <input class="input is-primary" type="text" placeholder="Leave a comment">
                </div>
            </div>

        </div>

    </div>
</div>


</body>
</html>